.is-dragging::before {
	content: '';
	position: absolute;
	top: -40%;
	left: -40%;
	right: -40%;
	bottom: -40%;
	/* background-color: rgba(255, 255, 255, 0.1); */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\"><path fill=\"rgba(0,0,0,0.3)\" d=\"M12 2l4 4h-3v4h-2V6h-3l4-4zm0 20l-4-4h3v-4h2v4h3l-4 4zm-10-10l4 4v-3h4v-2H6V8L2 12zm20 0l-4-4v3h-4v2h4v3l4-4z\"/></svg>');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	pointer-events: none;
	z-index: 2;
	overflow: visible;
	opacity: .5;
}


.is-dragging {
	  cursor: grabbing !important;
 
}
